-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: skill_service_exchange_db
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Current Database: `skill_service_exchange_db`
--

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `skill_service_exchange_db` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci */;

USE `skill_service_exchange_db`;

--
-- Table structure for table `category`
--

DROP TABLE IF EXISTS `category`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `category` (
  `CategoryId` int(11) NOT NULL AUTO_INCREMENT,
  `CategoryName` varchar(100) NOT NULL,
  `CategoryDescription` text DEFAULT NULL,
  `PostCount` int(11) DEFAULT 0 CHECK (`PostCount` >= 0),
  PRIMARY KEY (`CategoryId`),
  UNIQUE KEY `CategoryName` (`CategoryName`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `category`
--

LOCK TABLES `category` WRITE;
/*!40000 ALTER TABLE `category` DISABLE KEYS */;
/*!40000 ALTER TABLE `category` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `contacts`
--

DROP TABLE IF EXISTS `contacts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `contacts` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `first_name` varchar(100) NOT NULL,
  `last_name` varchar(100) NOT NULL,
  `email` varchar(150) NOT NULL,
  `message` text NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_contacts_email` (`email`),
  KEY `idx_contacts_date` (`created_at`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `contacts`
--

LOCK TABLES `contacts` WRITE;
/*!40000 ALTER TABLE `contacts` DISABLE KEYS */;
/*!40000 ALTER TABLE `contacts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `credittransactions`
--

DROP TABLE IF EXISTS `credittransactions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `credittransactions` (
  `TransactionId` int(11) NOT NULL AUTO_INCREMENT,
  `UserId` int(11) NOT NULL,
  `TransactionType` enum('earned','spent') NOT NULL,
  `Amount` int(11) NOT NULL CHECK (`Amount` > 0),
  `BalanceAfter` int(11) NOT NULL CHECK (`BalanceAfter` >= 0),
  `RelatedEntityType` enum('exchange','event','bonus','refund') DEFAULT NULL,
  `RelatedEntityId` int(11) DEFAULT NULL,
  `Description` varchar(255) DEFAULT NULL,
  `CreatedAt` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`TransactionId`),
  KEY `idx_credits_user_type` (`UserId`,`TransactionType`),
  KEY `idx_credits_created` (`CreatedAt`),
  CONSTRAINT `credittransactions_ibfk_1` FOREIGN KEY (`UserId`) REFERENCES `users` (`UserId`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `credittransactions`
--

LOCK TABLES `credittransactions` WRITE;
/*!40000 ALTER TABLE `credittransactions` DISABLE KEYS */;
/*!40000 ALTER TABLE `credittransactions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `events`
--

DROP TABLE IF EXISTS `events`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `events` (
  `EventId` int(11) NOT NULL AUTO_INCREMENT,
  `OrganizerId` int(11) NOT NULL,
  `EventTitle` varchar(150) NOT NULL,
  `EventDescription` text NOT NULL,
  `EventLocation` varchar(150) DEFAULT NULL,
  `EventType` enum('online','in-person') NOT NULL,
  `EventStartDate` datetime NOT NULL,
  `EventEndDate` datetime NOT NULL,
  `MaxAttendees` int(11) NOT NULL CHECK (`MaxAttendees` > 0 and `MaxAttendees` <= 1000),
  `CurrentAttendeesNumber` int(11) DEFAULT 0 CHECK (`CurrentAttendeesNumber` >= 0),
  `EventCost` int(11) DEFAULT 0 CHECK (`EventCost` >= 0),
  `EventStatus` enum('upcoming','ongoing','completed','cancelled') DEFAULT 'upcoming',
  `CreatedAt` datetime DEFAULT current_timestamp(),
  `UpdatedAt` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`EventId`),
  KEY `idx_events_status_date` (`EventStatus`,`EventStartDate`),
  KEY `idx_events_organizer` (`OrganizerId`),
  CONSTRAINT `events_ibfk_1` FOREIGN KEY (`OrganizerId`) REFERENCES `users` (`UserId`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=26 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `events`
--

LOCK TABLES `events` WRITE;
/*!40000 ALTER TABLE `events` DISABLE KEYS */;
/*!40000 ALTER TABLE `events` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER trg_validate_event_dates

BEFORE INSERT ON Events

FOR EACH ROW

BEGIN

  IF NEW.EventEndDate <= NEW.EventStartDate THEN

    SIGNAL SQLSTATE '45000'

    SET MESSAGE_TEXT = 'EventEndDate must be after EventStartDate (format: YYYY-MM-DD HH:MM:SS)';

  END IF;

  IF NEW.EventStartDate < NEW.CreatedAt THEN

    SIGNAL SQLSTATE '45000'

    SET MESSAGE_TEXT = 'EventStartDate cannot be in the past';

  END IF;

  IF NEW.EventStartDate < NOW() THEN

    SIGNAL SQLSTATE '45000'

    SET MESSAGE_TEXT = 'Event cannot be scheduled in the past';

  END IF;

  IF NEW.CurrentAttendeesNumber > NEW.MaxAttendees THEN

    SIGNAL SQLSTATE '45000'

    SET MESSAGE_TEXT = 'CurrentAttendeesNumber cannot exceed MaxAttendees';

  END IF;

  IF DATEDIFF(NEW.EventEndDate, NEW.EventStartDate) > 30 THEN

    SIGNAL SQLSTATE '45000'

    SET MESSAGE_TEXT = 'Event duration cannot exceed 30 days';

  END IF;

END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER trg_validate_event_dates_update

BEFORE UPDATE ON Events

FOR EACH ROW

BEGIN

  IF NEW.EventEndDate <= NEW.EventStartDate THEN

    SIGNAL SQLSTATE '45000'

    SET MESSAGE_TEXT = 'EventEndDate must be after EventStartDate (format: YYYY-MM-DD HH:MM:SS)';

  END IF;

  IF NEW.CurrentAttendeesNumber > NEW.MaxAttendees THEN

    SIGNAL SQLSTATE '45000'

    SET MESSAGE_TEXT = 'CurrentAttendeesNumber cannot exceed MaxAttendees';

  END IF;

  IF DATEDIFF(NEW.EventEndDate, NEW.EventStartDate) > 30 THEN

    SIGNAL SQLSTATE '45000'

    SET MESSAGE_TEXT = 'Event duration cannot exceed 30 days';

  END IF;

END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `eventsattendees`
--

DROP TABLE IF EXISTS `eventsattendees`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `eventsattendees` (
  `AttendanceId` int(11) NOT NULL AUTO_INCREMENT,
  `EventId` int(11) NOT NULL,
  `UserId` int(11) NOT NULL,
  `Status` enum('registered','confirmed','attended','cancelled') DEFAULT 'registered',
  `RegisteredAt` datetime DEFAULT current_timestamp(),
  `ConfirmedAt` datetime DEFAULT NULL,
  PRIMARY KEY (`AttendanceId`),
  UNIQUE KEY `unique_event_user` (`EventId`,`UserId`),
  KEY `idx_attendees_event` (`EventId`),
  KEY `idx_attendees_user` (`UserId`),
  CONSTRAINT `eventsattendees_ibfk_1` FOREIGN KEY (`EventId`) REFERENCES `events` (`EventId`) ON DELETE CASCADE,
  CONSTRAINT `eventsattendees_ibfk_2` FOREIGN KEY (`UserId`) REFERENCES `users` (`UserId`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=187 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `eventsattendees`
--

LOCK TABLES `eventsattendees` WRITE;
/*!40000 ALTER TABLE `eventsattendees` DISABLE KEYS */;
/*!40000 ALTER TABLE `eventsattendees` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER trg_validate_attendee_dates

BEFORE INSERT ON EventsAttendees

FOR EACH ROW

BEGIN

  IF NEW.ConfirmedAt IS NOT NULL AND NEW.ConfirmedAt < NEW.RegisteredAt THEN

    SIGNAL SQLSTATE '45000'

    SET MESSAGE_TEXT = 'Confirmed date must be after or equal to registered date (format: YYYY-MM-DD HH:MM:SS)';

  END IF;

END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER trg_validate_attendee_dates_update

BEFORE UPDATE ON EventsAttendees

FOR EACH ROW

BEGIN

  IF NEW.ConfirmedAt IS NOT NULL AND NEW.ConfirmedAt < NEW.RegisteredAt THEN

    SIGNAL SQLSTATE '45000'

    SET MESSAGE_TEXT = 'Confirmed date must be after or equal to registered date (format: YYYY-MM-DD HH:MM:SS)';

  END IF;

END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `eventskills`
--

DROP TABLE IF EXISTS `eventskills`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `eventskills` (
  `EventSkillId` int(11) NOT NULL AUTO_INCREMENT,
  `EventId` int(11) NOT NULL,
  `SkillId` int(11) NOT NULL,
  `IsRequired` enum('yes','no') DEFAULT 'no',
  PRIMARY KEY (`EventSkillId`),
  UNIQUE KEY `unique_event_skill` (`EventId`,`SkillId`),
  KEY `idx_eventskills_event` (`EventId`),
  KEY `idx_eventskills_skill` (`SkillId`),
  CONSTRAINT `eventskills_ibfk_1` FOREIGN KEY (`EventId`) REFERENCES `events` (`EventId`) ON DELETE CASCADE,
  CONSTRAINT `eventskills_ibfk_2` FOREIGN KEY (`SkillId`) REFERENCES `skills` (`SkillId`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=47 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `eventskills`
--

LOCK TABLES `eventskills` WRITE;
/*!40000 ALTER TABLE `eventskills` DISABLE KEYS */;
/*!40000 ALTER TABLE `eventskills` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `exchanges`
--

DROP TABLE IF EXISTS `exchanges`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `exchanges` (
  `ExchangeId` int(11) NOT NULL AUTO_INCREMENT,
  `PostId` int(11) NOT NULL,
  `OfferedByUserId` int(11) NOT NULL,
  `RequestedByUserId` int(11) NOT NULL,
  `Status` enum('pending','accepted','rejected','completed','cancelled') DEFAULT 'pending',
  `ProposedDate` datetime NOT NULL,
  `ConfirmedDate` datetime DEFAULT NULL,
  `CompletedDate` datetime DEFAULT NULL,
  `MeetingLink` varchar(255) DEFAULT NULL,
  `MeetingLocation` varchar(150) DEFAULT NULL,
  `CreditsCost` int(11) DEFAULT 0 CHECK (`CreditsCost` >= 0),
  `CreatedAt` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`ExchangeId`),
  KEY `idx_exchanges_status` (`Status`),
  KEY `idx_exchanges_offered_by` (`OfferedByUserId`),
  KEY `idx_exchanges_requested_by` (`RequestedByUserId`),
  KEY `idx_exchanges_post` (`PostId`),
  CONSTRAINT `exchanges_ibfk_1` FOREIGN KEY (`PostId`) REFERENCES `posts` (`PostId`) ON DELETE CASCADE,
  CONSTRAINT `exchanges_ibfk_2` FOREIGN KEY (`OfferedByUserId`) REFERENCES `users` (`UserId`) ON DELETE CASCADE,
  CONSTRAINT `exchanges_ibfk_3` FOREIGN KEY (`RequestedByUserId`) REFERENCES `users` (`UserId`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=77 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `exchanges`
--

LOCK TABLES `exchanges` WRITE;
/*!40000 ALTER TABLE `exchanges` DISABLE KEYS */;
/*!40000 ALTER TABLE `exchanges` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER trg_validate_exchange_users

BEFORE INSERT ON Exchanges

FOR EACH ROW

BEGIN

  IF NEW.OfferedByUserId = NEW.RequestedByUserId THEN

    SIGNAL SQLSTATE '45000'

    SET MESSAGE_TEXT = 'Cannot exchange with yourself';

  END IF;

  IF NEW.ProposedDate < NOW() THEN

    SIGNAL SQLSTATE '45000'

    SET MESSAGE_TEXT = 'Proposed date cannot be in the past';

  END IF;

END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER trg_validate_exchange_dates_insert

BEFORE INSERT ON Exchanges

FOR EACH ROW

BEGIN

  IF NEW.ConfirmedDate IS NOT NULL AND NEW.ConfirmedDate < NEW.ProposedDate THEN

    SIGNAL SQLSTATE '45000'

    SET MESSAGE_TEXT = 'Confirmed date must be after or equal to proposed date';

  END IF;

  IF NEW.CompletedDate IS NOT NULL AND NEW.ConfirmedDate IS NOT NULL AND NEW.CompletedDate <= NEW.ConfirmedDate THEN

    SIGNAL SQLSTATE '45000'

    SET MESSAGE_TEXT = 'Completed date must be greater than confirmed date (format: YYYY-MM-DD HH:MM:SS)';

  END IF;

  IF NEW.CompletedDate IS NOT NULL AND NEW.ProposedDate IS NOT NULL AND NEW.CompletedDate < NEW.ProposedDate THEN

    SIGNAL SQLSTATE '45000'

    SET MESSAGE_TEXT = 'Completed date must be after proposed date';

  END IF;

END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER trg_validate_exchange_dates_update

BEFORE UPDATE ON Exchanges

FOR EACH ROW

BEGIN

  IF NEW.ConfirmedDate IS NOT NULL AND NEW.ConfirmedDate < NEW.ProposedDate THEN

    SIGNAL SQLSTATE '45000'

    SET MESSAGE_TEXT = 'Confirmed date must be after or equal to proposed date';

  END IF;

  IF NEW.CompletedDate IS NOT NULL AND NEW.ConfirmedDate IS NOT NULL AND NEW.CompletedDate <= NEW.ConfirmedDate THEN

    SIGNAL SQLSTATE '45000'

    SET MESSAGE_TEXT = 'Completed date must be greater than confirmed date (format: YYYY-MM-DD HH:MM:SS)';

  END IF;

  IF NEW.CompletedDate IS NOT NULL AND NEW.ProposedDate IS NOT NULL AND NEW.CompletedDate < NEW.ProposedDate THEN

    SIGNAL SQLSTATE '45000'

    SET MESSAGE_TEXT = 'Completed date must be after proposed date';

  END IF;

END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `postavailabledates`
--

DROP TABLE IF EXISTS `postavailabledates`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `postavailabledates` (
  `PostAvailableDateId` int(11) NOT NULL AUTO_INCREMENT,
  `PostId` int(11) NOT NULL,
  `AvailableDate` datetime NOT NULL,
  PRIMARY KEY (`PostAvailableDateId`),
  KEY `idx_post_available_dates` (`PostId`,`AvailableDate`),
  CONSTRAINT `postavailabledates_ibfk_1` FOREIGN KEY (`PostId`) REFERENCES `posts` (`PostId`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=30 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `postavailabledates`
--

LOCK TABLES `postavailabledates` WRITE;
/*!40000 ALTER TABLE `postavailabledates` DISABLE KEYS */;
/*!40000 ALTER TABLE `postavailabledates` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `postlikes`
--

DROP TABLE IF EXISTS `postlikes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `postlikes` (
  `LikeId` int(11) NOT NULL AUTO_INCREMENT,
  `PostId` int(11) NOT NULL,
  `UserId` int(11) NOT NULL,
  `CreatedAt` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`LikeId`),
  UNIQUE KEY `unique_post_like` (`PostId`,`UserId`),
  KEY `idx_likes_post` (`PostId`),
  KEY `idx_likes_user` (`UserId`),
  CONSTRAINT `postlikes_ibfk_1` FOREIGN KEY (`PostId`) REFERENCES `posts` (`PostId`) ON DELETE CASCADE,
  CONSTRAINT `postlikes_ibfk_2` FOREIGN KEY (`UserId`) REFERENCES `users` (`UserId`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=66 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `postlikes`
--

LOCK TABLES `postlikes` WRITE;
/*!40000 ALTER TABLE `postlikes` DISABLE KEYS */;
INSERT INTO `postlikes` VALUES (14,6,1,'2026-02-02 16:06:04'),(17,18,1,'2026-02-02 16:24:13'),(30,10,1,'2026-02-02 16:38:55'),(47,13,1,'2026-02-02 17:13:47'),(48,17,1,'2026-02-02 17:13:49'),(49,16,1,'2026-02-02 17:13:51'),(52,8,1,'2026-02-02 17:14:16'),(54,9,1,'2026-02-02 17:19:17');
/*!40000 ALTER TABLE `postlikes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `posts`
--

DROP TABLE IF EXISTS `posts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `posts` (
  `PostId` int(11) NOT NULL AUTO_INCREMENT,
  `UserId` int(11) NOT NULL,
  `Title` varchar(150) NOT NULL,
  `Description` text NOT NULL,
  `PostType` enum('in-person','online') NOT NULL DEFAULT 'in-person',
  `PostStatus` enum('active','disabled') DEFAULT 'active',
  `CategoryId` int(11) NOT NULL,
  `Duration` int(11) DEFAULT NULL CHECK (`Duration` > 0 and `Duration` <= 480),
  `MeetLocation` varchar(150) DEFAULT NULL,
  `Prerequisites` text DEFAULT NULL,
  `Requirements` text DEFAULT NULL,
  `PaymentMethod` enum('exchange','credit') NOT NULL DEFAULT 'credit',
  `RequiredCredits` int(11) DEFAULT 0 CHECK (`RequiredCredits` >= 0),
  `LikeCount` int(11) DEFAULT 0 CHECK (`LikeCount` >= 0),
  `CreatedAt` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`PostId`),
  KEY `idx_posts_status_date` (`PostStatus`),
  KEY `idx_posts_user` (`UserId`),
  KEY `idx_posts_category` (`CategoryId`),
  CONSTRAINT `posts_ibfk_1` FOREIGN KEY (`UserId`) REFERENCES `users` (`UserId`) ON DELETE CASCADE,
  CONSTRAINT `posts_ibfk_2` FOREIGN KEY (`CategoryId`) REFERENCES `category` (`CategoryId`)
) ENGINE=InnoDB AUTO_INCREMENT=37 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `posts`
--

LOCK TABLES `posts` WRITE;
/*!40000 ALTER TABLE `posts` DISABLE KEYS */;
/*!40000 ALTER TABLE `posts` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER trg_validate_post_location

BEFORE INSERT ON Posts

FOR EACH ROW

BEGIN

  IF NEW.PostType = 'in-person' AND (NEW.MeetLocation IS NULL OR NEW.MeetLocation = '') THEN

    SIGNAL SQLSTATE '45000'

    SET MESSAGE_TEXT = 'In-person posts must have a MeetLocation';

  END IF;

  IF NEW.PaymentMethod = 'credit' AND NEW.RequiredCredits <= 0 THEN

    SIGNAL SQLSTATE '45000'

    SET MESSAGE_TEXT = 'Credit payment method requires RequiredCredits > 0';

  END IF;

END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER trg_validate_post_location_update

BEFORE UPDATE ON Posts

FOR EACH ROW

BEGIN

  IF NEW.PostType = 'in-person' AND (NEW.MeetLocation IS NULL OR NEW.MeetLocation = '') THEN

    SIGNAL SQLSTATE '45000'

    SET MESSAGE_TEXT = 'In-person posts must have a MeetLocation';

  END IF;

  IF NEW.PaymentMethod = 'credit' AND NEW.RequiredCredits <= 0 THEN

    SIGNAL SQLSTATE '45000'

    SET MESSAGE_TEXT = 'Credit payment method requires RequiredCredits > 0';

  END IF;

END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `postskills`
--

DROP TABLE IF EXISTS `postskills`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `postskills` (
  `PostSkillId` int(11) NOT NULL AUTO_INCREMENT,
  `PostId` int(11) NOT NULL,
  `SkillId` int(11) NOT NULL,
  `SkillType` enum('offered','requested') NOT NULL DEFAULT 'offered',
  PRIMARY KEY (`PostSkillId`),
  UNIQUE KEY `unique_post_skill` (`PostId`,`SkillId`),
  KEY `idx_postskills_post` (`PostId`),
  KEY `idx_postskills_skill` (`SkillId`),
  CONSTRAINT `postskills_ibfk_1` FOREIGN KEY (`PostId`) REFERENCES `posts` (`PostId`) ON DELETE CASCADE,
  CONSTRAINT `postskills_ibfk_2` FOREIGN KEY (`SkillId`) REFERENCES `skills` (`SkillId`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=132 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `postskills`
--

LOCK TABLES `postskills` WRITE;
/*!40000 ALTER TABLE `postskills` DISABLE KEYS */;
/*!40000 ALTER TABLE `postskills` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `profile_reviews`
--

DROP TABLE IF EXISTS `profile_reviews`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `profile_reviews` (
  `ID` int(11) NOT NULL AUTO_INCREMENT,
  `ReviewerID` int(11) NOT NULL,
  `ReviewDate` datetime NOT NULL,
  `ReviewText` text NOT NULL,
  `ReviewRate` int(11) NOT NULL,
  `userID` int(11) NOT NULL,
  PRIMARY KEY (`ID`),
  UNIQUE KEY `unique_review_pair` (`ReviewerID`,`userID`)
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `profile_reviews`
--

LOCK TABLES `profile_reviews` WRITE;
/*!40000 ALTER TABLE `profile_reviews` DISABLE KEYS */;
INSERT INTO `profile_reviews` VALUES (13,3,'2026-01-17 21:37:43','NICE',5,2),(14,2,'2026-01-17 21:38:29','NOOOOOOO',1,3),(17,2,'2026-02-01 23:19:59','This is my first test review for this user!',5,4),(18,4,'2026-02-01 23:36:00','This is my first test review for this user!',5,2),(19,26,'2026-02-04 19:04:23','ibbvuybv',1,1),(20,26,'2026-02-04 20:10:17','disappointing',2,7),(21,26,'2026-02-04 20:11:57','salam',2,2);
/*!40000 ALTER TABLE `profile_reviews` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rating`
--

DROP TABLE IF EXISTS `rating`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rating` (
  `ReviewId` int(11) NOT NULL AUTO_INCREMENT,
  `ExchangeId` int(11) NOT NULL,
  `ReviewerId` int(11) NOT NULL,
  `ReviewedUserId` int(11) NOT NULL,
  `Rating` int(11) NOT NULL CHECK (`Rating` >= 1 and `Rating` <= 5),
  `ReviewText` text DEFAULT NULL,
  `CreatedAt` datetime DEFAULT current_timestamp(),
  `UpdatedAt` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`ReviewId`),
  UNIQUE KEY `unique_exchange_reviewer` (`ExchangeId`,`ReviewerId`),
  KEY `idx_rating_exchange` (`ExchangeId`),
  KEY `idx_rating_reviewer` (`ReviewerId`),
  KEY `idx_rating_reviewed` (`ReviewedUserId`),
  CONSTRAINT `rating_ibfk_1` FOREIGN KEY (`ExchangeId`) REFERENCES `exchanges` (`ExchangeId`) ON DELETE CASCADE,
  CONSTRAINT `rating_ibfk_2` FOREIGN KEY (`ReviewerId`) REFERENCES `users` (`UserId`) ON DELETE CASCADE,
  CONSTRAINT `rating_ibfk_3` FOREIGN KEY (`ReviewedUserId`) REFERENCES `users` (`UserId`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rating`
--

LOCK TABLES `rating` WRITE;
/*!40000 ALTER TABLE `rating` DISABLE KEYS */;
/*!40000 ALTER TABLE `rating` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `skills`
--

DROP TABLE IF EXISTS `skills`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `skills` (
  `SkillId` int(11) NOT NULL AUTO_INCREMENT,
  `SkillName` varchar(100) NOT NULL,
  `CategoryId` int(11) NOT NULL,
  `SkillDescription` text DEFAULT NULL,
  PRIMARY KEY (`SkillId`),
  UNIQUE KEY `SkillName` (`SkillName`),
  KEY `idx_skills_category` (`CategoryId`),
  CONSTRAINT `skills_ibfk_1` FOREIGN KEY (`CategoryId`) REFERENCES `category` (`CategoryId`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=178 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `skills`
--

LOCK TABLES `skills` WRITE;
/*!40000 ALTER TABLE `skills` DISABLE KEYS */;
/*!40000 ALTER TABLE `skills` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_seeking_skills`
--

DROP TABLE IF EXISTS `user_seeking_skills`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `user_seeking_skills` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `UserId` int(11) NOT NULL,
  `SkillId` int(11) NOT NULL,
  `CreatedAt` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_user_skill` (`UserId`,`SkillId`),
  KEY `fk_seeking_skill` (`SkillId`),
  CONSTRAINT `fk_seeking_skill` FOREIGN KEY (`SkillId`) REFERENCES `skills` (`SkillId`) ON DELETE CASCADE,
  CONSTRAINT `fk_seeking_user` FOREIGN KEY (`UserId`) REFERENCES `users` (`UserId`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=102 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_seeking_skills`
--

LOCK TABLES `user_seeking_skills` WRITE;
/*!40000 ALTER TABLE `user_seeking_skills` DISABLE KEYS */;
INSERT INTO `user_seeking_skills` VALUES (84,2,90,'2026-02-01 22:06:02'),(85,2,131,'2026-02-01 22:06:02'),(86,1,119,'2026-02-01 23:04:41'),(87,1,121,'2026-02-01 23:04:41'),(88,1,141,'2026-02-01 23:04:41'),(89,1,142,'2026-02-01 23:04:41'),(101,26,116,'2026-02-05 15:59:21');
/*!40000 ALTER TABLE `user_seeking_skills` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usernotifications`
--

DROP TABLE IF EXISTS `usernotifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `usernotifications` (
  `NotificationId` int(11) NOT NULL AUTO_INCREMENT,
  `SenderId` int(11) DEFAULT NULL,
  `ExchangeId` int(11) DEFAULT NULL,
  `EventId` int(11) DEFAULT NULL,
  `AttendeeId` int(11) DEFAULT NULL,
  `RecipientId` int(11) NOT NULL,
  `NotificationType` enum('like','comment','rating','booking','accepted','completing','being_refused','acceptedInEvent','RejectedFromEvent','earned','spent','eventJoinRequest') NOT NULL,
  `Title` varchar(100) NOT NULL CHECK (char_length(`Title`) >= 5),
  `Message` text NOT NULL,
  `IsRead` enum('yes','no') DEFAULT 'no',
  `CreatedAt` datetime DEFAULT current_timestamp(),
  `NotificationSection` enum('Reviews','Exchange','events','credits') NOT NULL,
  PRIMARY KEY (`NotificationId`),
  KEY `idx_notifications_user_read` (`RecipientId`,`IsRead`),
  KEY `idx_notifications_section` (`NotificationSection`),
  KEY `idx_notifications_sender` (`SenderId`),
  CONSTRAINT `fk_notification_sender` FOREIGN KEY (`SenderId`) REFERENCES `users` (`UserId`) ON DELETE SET NULL,
  CONSTRAINT `usernotifications_ibfk_1` FOREIGN KEY (`RecipientId`) REFERENCES `users` (`UserId`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=128 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usernotifications`
--

LOCK TABLES `usernotifications` WRITE;
/*!40000 ALTER TABLE `usernotifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `usernotifications` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER trg_auto_correct_notification_section
BEFORE INSERT ON UserNotifications
FOR EACH ROW
BEGIN
    
    IF NEW.NotificationType IN ('like', 'comment', 'rating') THEN
        SET NEW.NotificationSection = 'Reviews';
    ELSEIF NEW.NotificationType IN ('booking', 'accepted', 'completing', 'being_refused') THEN
        SET NEW.NotificationSection = 'Exchange';
    ELSEIF NEW.NotificationType IN ('acceptedInEvent', 'RejectedFromEvent', 'eventJoinRequest') THEN
        SET NEW.NotificationSection = 'events';
    ELSEIF NEW.NotificationType IN ('earned', 'spent') THEN
        SET NEW.NotificationSection = 'credits';
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER trg_auto_correct_notification_section_update

BEFORE UPDATE ON UserNotifications

FOR EACH ROW

BEGIN

    -- Auto-correct NotificationSection based on NotificationType

    IF NEW.NotificationType IN ('like', 'comment', 'rating') THEN

        SET NEW.NotificationSection = 'Reviews';

    ELSEIF NEW.NotificationType IN ('booking', 'accepted', 'completing', 'being_refused') THEN

        SET NEW.NotificationSection = 'Exchange';

    ELSEIF NEW.NotificationType IN ('acceptedInEvent', 'RejectedFromEvent') THEN

        SET NEW.NotificationSection = 'events';

    ELSEIF NEW.NotificationType IN ('earned', 'spent') THEN

        SET NEW.NotificationSection = 'credits';

    END IF;

    -- NEVER REJECT - just auto-correct to the proper section

END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `UserId` int(11) NOT NULL AUTO_INCREMENT,
  `UserName` varchar(45) NOT NULL,
  `FullName` varchar(45) NOT NULL,
  `Email` varchar(45) NOT NULL,
  `Password` varchar(255) NOT NULL,
  `Description` text DEFAULT NULL,
  `ProfilePicture` varchar(255) DEFAULT NULL,
  `ProfessionalTitle` varchar(100) DEFAULT NULL,
  `Location` varchar(100) DEFAULT NULL,
  `PhoneNumber` varchar(20) DEFAULT NULL,
  `BirthDate` date DEFAULT NULL,
  `Gender` enum('M','F') DEFAULT NULL,
  `UserSince` datetime DEFAULT current_timestamp(),
  `IsBanned` enum('yes','no') DEFAULT 'no',
  `Rating` decimal(3,2) DEFAULT 0.00 CHECK (`Rating` >= 0.00 and `Rating` <= 5.00),
  `RatingCount` int(11) DEFAULT 0 CHECK (`RatingCount` >= 0),
  `ExchangeCount` int(11) DEFAULT 0 CHECK (`ExchangeCount` >= 0),
  `CreditBalance` int(11) DEFAULT 0 CHECK (`CreditBalance` >= 0),
  `IsAdmin` enum('yes','no') NOT NULL DEFAULT 'no',
  PRIMARY KEY (`UserId`),
  UNIQUE KEY `UserName` (`UserName`),
  UNIQUE KEY `Email` (`Email`)
) ENGINE=InnoDB AUTO_INCREMENT=32 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER trg_validate_user_age

BEFORE INSERT ON Users

FOR EACH ROW

BEGIN

  IF NEW.BirthDate IS NOT NULL AND NEW.BirthDate > DATE_SUB(CURDATE(), INTERVAL 13 YEAR) THEN

    SIGNAL SQLSTATE '45000'

    SET MESSAGE_TEXT = 'User must be at least 13 years old';

  END IF;

END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER trg_validate_user_age_update

BEFORE UPDATE ON Users

FOR EACH ROW

BEGIN

  IF NEW.BirthDate IS NOT NULL AND NEW.BirthDate > DATE_SUB(CURDATE(), INTERVAL 13 YEAR) THEN

    SIGNAL SQLSTATE '45000'

    SET MESSAGE_TEXT = 'User must be at least 13 years old';

  END IF;

END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `userskills`
--

DROP TABLE IF EXISTS `userskills`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `userskills` (
  `UserSkillId` int(11) NOT NULL AUTO_INCREMENT,
  `UserId` int(11) NOT NULL,
  `SkillId` int(11) NOT NULL,
  `SkillType` enum('teach','learn') NOT NULL,
  `ProficiencyLevel` int(11) NOT NULL DEFAULT 0 CHECK (`ProficiencyLevel` >= 0 and `ProficiencyLevel` <= 100),
  PRIMARY KEY (`UserSkillId`),
  UNIQUE KEY `unique_user_skill` (`UserId`,`SkillId`,`SkillType`),
  KEY `idx_userskills_user` (`UserId`),
  KEY `idx_userskills_skill` (`SkillId`),
  CONSTRAINT `userskills_ibfk_1` FOREIGN KEY (`UserId`) REFERENCES `users` (`UserId`) ON DELETE CASCADE,
  CONSTRAINT `userskills_ibfk_2` FOREIGN KEY (`SkillId`) REFERENCES `skills` (`SkillId`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=76 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `userskills`
--

LOCK TABLES `userskills` WRITE;
/*!40000 ALTER TABLE `userskills` DISABLE KEYS */;
/*!40000 ALTER TABLE `userskills` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-02-06  1:16:35
