@import url(assets\css\style.css);
.container {
  display: flex;
  padding: 0;
  background-color: var(--clr-main);
  font-family: sans-serif;
  
  
}
.sidebar {
  background-color: var(--clr-bars);
  padding: 20px ;
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 220px;
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  
}
.content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  
  
}


.sidebar-item {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 12px 10px;
  border-radius: 15px;
  transition: background 0.3s, color 0.3s;
  
}
.logout-item {
  color: rgb(252, 83, 83);
  display: flex;
  padding: 12px 10px;
  font-size: 18px;
  border-radius: 15px;
  transition: background 0.3s;
  margin-top: px;
  
}

.sidebar-item:hover {
  background-color: var(--clr-lighter);
  color: white;
}
.sidebar-item.active {
  background-color: var(--clr-primbtn);
  color: white;
}

.logout-item:hover {
  background-color: var(--clr-lighter);
}
.logout-item.active {
  background-color: var(--clr-primbtn);
  color: white;
}


.icon {
  width: 40px;
  height: 25px;
  margin-right: 10px;
  filter: invert(100%) brightness(100%);

}
.logout-icon {
  width: 24px;
  height: 20px;
  margin-right: 10px;
  filter: invert(42%) sepia(98%) saturate(2472%) hue-rotate(340deg) brightness(97%) contrast(101%);

}