


<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="../../assets/css/header.css">
    </head>
    <body>
        <div class="header">




            <div class="header-left">
                <button class="humberger">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-menu h-6 w-6" aria-hidden="true"><path d="M4 5h16"></path><path d="M4 12h16"></path><path d="M4 19h16"></path></svg>
                </button>
                <span class="header-logo" >
                    <img src="../../assets/images/Swap logo.png" >
                </span>
                <!--<a href="/dashboard/home.html"class="Swap">Swap</a>-->
    
            </div>

            <div class="header-right">
                <span class="credit-span-small">50</span>
                <div class="header-credit">
                    Credits:
                    <span class="credit-span">50</span>
                </div>
                <button class="header-notification">
                    
                    <svg  width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-bell h-5 w-5" aria-hidden="true"><path d="M10.268 21a2 2 0 0 0 3.464 0"></path><path d="M3.262 15.326A1 1 0 0 0 4 17h16a1 1 0 0 0 .74-1.673C19.41 13.956 18 12.499 18 8A6 6 0 0 0 6 8c0 4.499-1.411 5.956-2.738 7.326"></path></svg>
                    
                </button>
                <span class="header-profile">
                    <img src="../../assets/images/Default_pfp.svg" >
                </span>
            </div>
        </div>

    </body>
</html>